<h2>Chats Pendientes</h2>
<!-- <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Topic</th>
      <th scope="col">Description</th>
      <th scope="col">Id_user</th>
      <th scope="col">Id_status</th>
      <th scope="col">Created_by</th>
      <th scope="col">Created_at</th>
      <th scope="col">Updated_by</th>
      <th scope="col">Updated_at</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chat of rootObject">
      <td>{{chat.id}}</td>
      <td>{{chat.topic}}</td>
      <td>{{chat.description}}</td>
      <td>{{chat.user.name}}</td>
      <td>{{chat.status.description}}</td>
      <td>{{chat.created_by.name}}</td>
      <td>{{chat.created_at}}</td>
      <td>{{chat.updated_by.name}}</td>
      <td>{{chat.updated_at}}</td>
      <td><button class="btn btn-outline-warning" routerLink="/dashboard/my-chat/show/{{chat.id}}/{{chat.user.id}}"><i class="far fa-edit"></i>Editar</button></td>
    </tr>
  </tbody>
</table>  -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="pages.content" class="w-full">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="topic">
      <th mat-header-cell *matHeaderCellDef> topic </th>
      <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> user </th>
      <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> status </th>
      <td mat-cell *matCellDef="let element"> {{element.status.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator 
    showFirstLastButtons 
    aria-label="Select page of pages"
    (page)="PageEvent($event)"
    [length]="pages.totalElements"
    [pageIndex]="0"
    [pageSize]="1"
    [pageSizeOptions]="[1, 2, 3, 5]">
  </mat-paginator>
</div>
