<div *ngIf="isLogged">
    <h2>Bienvenido {{userName}}</h2>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Id_Chatbot</th>
          <th scope="col">Id_Chatbot_question</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Created_by</th>
          <th scope="col">Created_at</th>
          <th scope="col">Updated_by</th>
          <th scope="col">Updated_at</th>
          <th scope="col">Question_type</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chatbot_question of chatbot_questions">
          <td>{{chatbot_question.chatbot.id}}</td>
          <td>{{chatbot_question.id}}</td>
          <td>{{chatbot_question.question.description}}</td>
          <td>{{chatbot_question.question.status4.description}}</td>
          <td>{{chatbot_question.question.created_by}}</td>
          <td>{{chatbot_question.question.created_at}}</td>
          <td>{{chatbot_question.question.updated_by}}</td>
          <td>{{chatbot_question.question.updated_at}}</td>
          <td>{{chatbot_question.question.question_type.description}}</td>
          <td><button class="btn btn-outline-warning" (click)="cargarOptions(chatbot_question.question.id)"><i class="far fa-edit"></i>Agregar Opcion</button></td>
          <!-- respuesta -> id_chatbot y id_pregunta -->
        </tr>
      </tbody>
    </table>
     
    <div>
      <h2>Pregunta</h2>
      {{question_types.description}}
      <form [formGroup]="formQuestion" class="flex mx-auto flex-col" (ngSubmit)="questionRegister()">
        <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">
            <div fxFlex="20" fxLayout="column">
                <h1>Nueva Pregunta</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Question_type</mat-label>
                    <mat-select formControlName="question_type">
                        <mat-option *ngFor="let qst of question_types" [value]="qst">
                          {{qst.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary">Registrar</button>
          </div>
        </div>
      </form>
    </div>
    <div>
      <h2>Option</h2>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Id_question</th>
            <th scope="col">Id_question_options</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Created_by</th>
            <th scope="col">Created_at</th>
            <th scope="col">Updated_by</th>
            <th scope="col">Updated_at</th>
            <th scope="col">Option_type</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question_option of question_options">
            <td>{{question_option.question.id}}</td>
            <td>{{question_option.id}}</td>
            <td>{{question_option.option.description}}</td>
            <td>{{question_option.option.created_by}}</td>
            <td>{{question_option.option.created_at}}</td>
            <td>{{question_option.option.updated_by}}</td>
            <td>{{question_option.option.updated_at}}</td>
            <td>{{question_option.option.option_type.description}}</td>
            <!-- respuesta -> id_chatbot y id_pregunta -->
          </tr>
        </tbody>
      </table>
     <div>
      {{option_types | json}}
      <form [formGroup]="formOption" class="flex mx-auto flex-col" (ngSubmit)="optionRegister()">
        <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">
            <div fxFlex="20" fxLayout="column">
                <h1>Nueva Pregunta</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Question_type</mat-label>
                    <mat-select formControlName="option_type">
                        <mat-option *ngFor="let opt of option_types" [value]="opt">
                          {{opt.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>  
</div>
