<div class="flex bg-theme w-full items-center md:min-h-screen">
    <div class="mx-auto p-2 md:p-3 text-center">
        <p class="text-5xl">
            Porque Amamos Tarapoto
        </p>
        <p style="margin: 0 auto !important" class="w-full md:w-1/2 text-center py-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis quo est fugiat exercitationem nihil culpa quidem deserunt, fuga omnis alias deleniti velit impedit recusandae aliquid dignissimos quam. Et, minus adipisci.</p>
        <div class="flex flex-wrap grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5">
            <div class="bg-blue-200 flex items-center px-3 py-3 flex-col">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 mx-auto" alt="">
                <h3 class="mx-auto">descripcion</h3>
            </div>
            <div class="bg-yellow-200 flex items-center px-3 py-3 flex-col">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 mx-auto" alt="">
                <h3 class="mx-auto">descripcion</h3>
            </div>
            <div class="bg-green-200 flex items-center px-3 py-3 flex-col">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 mx-auto" alt="">
                <h3 class="mx-auto">descripcion</h3>
            </div>
            <div class="bg-red-200 flex items-center px-3 py-3 flex-col">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 mx-auto" alt="">
                <h3 class="mx-auto">descripcion</h3>
            </div>
            <div class="bg-purple-200 flex items-center px-3 py-3 flex-col">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 mx-auto" alt="">
                <h3 class="mx-auto">descripcion</h3>
            </div>
        </div>
    </div>
</div>