<div id="htmlData" *ngIf="isLogged">
    <h2>Bienvenido {{userName}}</h2>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Description</th>
          <th scope="col">Created_by</th>
          <th scope="col">Created_at</th>
          <th scope="col">Updated_by</th>
          <th scope="col">Updated_at</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chatbot of chatbots">
          <td>{{chatbot.id}}</td>
          <td>{{chatbot.description}}</td>
          <td>{{chatbot.created_by}}</td>
          <td>{{chatbot.created_at}}</td>
          <td>{{chatbot.updated_by}}</td>
          <td>{{chatbot.updated_at}}</td>
          <td><button class="btn btn-outline-warning" routerLink="/dashboard/chatbot/show/{{chatbot.id}}"><i class="far fa-edit"></i>Agregar Pregunta</button></td>
        </tr>
      </tbody>
    </table> 
    <h2>Bienvenido {{userName}}</h2>
</div>

<div>
  <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
</div>
