<!--<form [formGroup]="myForm" class="flex mx-auto flex-col">
    <mat-toolbar class="bg-blue-500 w-full">
        <h4>Create</h4>
    </mat-toolbar>
    <br>
{{ myForm.value | json }}
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="userName">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="password">
        <mat-hint align="end">Debe tener letras y numeros</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Dni</mat-label>
        <input matInput placeholder="dni" formControlName="dni">
        <mat-hint align="end">Documento de identidad</mat-hint>
        <mat-error *ngIf="dni.invalid && dni.touched">
            Documento invalido
        </mat-error>
        <mat-error *ngIf="dni.errors?.minlength && dni.touched">
            Minimo son 8 digitos
        </mat-error>
        <mat-error *ngIf="dni.errors?.maxlength && dni.touched">
            Maximo son 10 digitos
        </mat-error>
    </mat-form-field>
    <mat-checkbox class="mx-auto" formControlName="agree" color="primary">Aceptas las condiciones?</mat-checkbox>
    </form>
-->
    <br>
    <button mat-raised-button color="primary" (click)="chatregister()">registrar chat</button>
