<div class="container">
  <div class="row mt-5" *ngIf="chat">
    <div class="col-md-4 mx-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-center">
              Detalle
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>ID: </b>{{chat.id}}</li>
              <li class="list-group-item"><b>TOPIC: </b>{{chat.topic}}</li>
              <li class="list-group-item"><b>DESCRIPTION: </b>{{chat.description}}</li>
              <li class="list-group-item"><b>USER: </b>{{chat.user.name}}</li>
              <li class="list-group-item"><b>STATUS: </b>{{chat.status.description}}</li>
            </ul>
            <div class="card-footer">
              <button class="btn btn-outline-warning" routerLink="/dashboard/my-chat/show/{{chat.id}}/{{chat.user.id}}">Chatear</button>
            </div>
          </div>
          
    </div>
</div>
</div>