<div class="flex bg-theme w-full items-center md:min-h-screen">
    <div class="mx-auto p-2 md:p-3 text-center">
        <p class="text-5xl">
            Proyectos
        </p>
        <p style="margin: 0 auto !important" class="w-full md:w-1/2 text-center py-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis quo est fugiat exercitationem nihil culpa quidem deserunt, fuga omnis alias deleniti velit impedit recusandae aliquid dignissimos quam. Et, minus adipisci.</p>
        <div class="flex flex-wrap grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-3">
            <div class="bg-primary px-3 py-3 m-2">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 rounded-full bg-warn float-left m-2" alt="">
                <p class="float-none text-justify" style="text-indent: 2em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cupiditate natus incidunt ex, quidem omnis quod. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur tempora quasi quisquam porro illum iste nisi cupiditate sed delectus sunt! Quia dolorem pariatur quae commodi! A temporibus voluptate nobis voluptatem.</p>
            </div>
            <div class="bg-warn px-3 py-3 m-2">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 rounded-full bg-primary float-left m-2" alt="">
                <p class="float-none text-justify" style="text-indent: 2em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cupiditate natus incidunt ex, quidem omnis quod. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur tempora quasi quisquam porro illum iste nisi cupiditate sed delectus sunt! Quia dolorem pariatur quae commodi! A temporibus voluptate nobis voluptatem.</p>
            </div>
            <div class="bg-accent px-3 py-3 m-2">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 rounded-full bg-warn float-left m-2" alt="">
                <p class="float-none text-justify" style="text-indent: 2em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cupiditate natus incidunt ex, quidem omnis quod. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur tempora quasi quisquam porro illum iste nisi cupiditate sed delectus sunt! Quia dolorem pariatur quae commodi! A temporibus voluptate nobis voluptatem.</p>
            </div>
            <div class="px-3 py-3 m-2">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 rounded-full bg-warn float-left m-2" alt="">
                <p class="float-none text-justify" style="text-indent: 2em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cupiditate natus incidunt ex, quidem omnis quod. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur tempora quasi quisquam porro illum iste nisi cupiditate sed delectus sunt! Quia dolorem pariatur quae commodi! A temporibus voluptate nobis voluptatem.</p>
            </div>
            <div class="px-3 py-3 m-2">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 rounded-full bg-primary float-left m-2" alt="">
                <p class="float-none text-justify" style="text-indent: 2em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cupiditate natus incidunt ex, quidem omnis quod. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur tempora quasi quisquam porro illum iste nisi cupiditate sed delectus sunt! Quia dolorem pariatur quae commodi! A temporibus voluptate nobis voluptatem.</p>
            </div>
            <div class="bg-accent px-3 py-3 m-2">
                <img src="#" class="w-32 h-32 md:h-40 md:w-40 rounded-full bg-warn float-left m-2" alt="">
                <p class="float-none text-justify" style="text-indent: 2em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cupiditate natus incidunt ex, quidem omnis quod. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur tempora quasi quisquam porro illum iste nisi cupiditate sed delectus sunt! Quia dolorem pariatur quae commodi! A temporibus voluptate nobis voluptatem.</p>
            </div>
        </div>
    </div>
</div>