<div class="flex bg-theme w-full items-center md:min-h-screen">
    <div class="mx-auto p-2 md:p-3 text-center">
        <p class="text-5xl">
            Noticias
        </p>
        <p style="margin: 0 auto !important" class="w-full md:w-1/2 text-center py-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis quo est fugiat exercitationem nihil culpa quidem deserunt, fuga omnis alias deleniti velit impedit recusandae aliquid dignissimos quam. Et, minus adipisci.</p>
        <div class="flex flex-wrap grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
            <div class="bg-primary flex items-center px-3 py-3 flex-row relative">
                <img src="#" class="w-full h-full absolute" style="top: 0px; right: 0px; bottom: 0px; left: 0px;" alt="">
                <p class="text-base text-center w-full p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et itaque, in quo, voluptatibus.</p>
            </div>
            <div class="bg-accent flex items-center px-3 py-3 flex-row relative">
                <img src="#" class="w-full h-full absolute" style="top: 0px; right: 0px; bottom: 0px; left: 0px;" alt="">
                <p class="text-base text-center w-full p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et itaque, in quo, voluptatibus.</p>
            </div>
            <div class="bg-warn flex items-center px-3 py-3 flex-row relative">
                <img src="#" class="w-full h-full absolute" style="top: 0px; right: 0px; bottom: 0px; left: 0px;" alt="">
                <p class="text-base text-center w-full p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et itaque, in quo, voluptatibus.</p>
            </div>
            <div class="bg-primary flex items-center px-3 py-3 flex-row relative">
                <img src="#" class="w-full h-full absolute" style="top: 0px; right: 0px; bottom: 0px; left: 0px;" alt="">
                <p class="text-base text-center w-full p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et itaque, in quo, voluptatibus.</p>
            </div>
            <div class="bg-accent flex items-center px-3 py-3 flex-row relative">
                <img src="#" class="w-full h-full absolute" style="top: 0px; right: 0px; bottom: 0px; left: 0px;" alt="">
                <p class="text-base text-center w-full p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et itaque, in quo, voluptatibus.</p>
            </div>
            <div class="bg-warn flex items-center px-3 py-3 flex-row relative">
                <img src="#" class="w-full h-full absolute" style="top: 0px; right: 0px; bottom: 0px; left: 0px;" alt="">
                <p class="text-base text-center w-full p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et itaque, in quo, voluptatibus.</p>
            </div>
        </div>
    </div>
</div>